.container {
  margin: 8px;
  height: auto;
  display: flex;
}

.post {
  width: 70%;
  padding: 8px 20px;
}

.widget {
  width: 30%;
  height: 500px;
  padding: 8px 20px;
}

#published-on-author {
  font-style: italic;
}

#short-desc {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  text-align: justify;
  margin-top: 8px;
}

#continue-to-read {
  margin-top: 8px;
}

hr {
  background-color: transparent;
  opacity: 0.4;
  margin: 8px;
}

.prev-next {
  width: 100%;
}

#prev {
  float: left;
}

#next {
  float: right;
}

.popular {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 2px 16px;
  margin-top: 30px;
}

.popular:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.popular li {
  margin: 12px 0px;
}

@media screen and (max-width: 600px) {
  .container {
    display: block;
  }

  .post {
    width: 95%;
    padding: 8px;
  }

  .widget {
    margin-top: 16px;
    width: 95%;
    height: 500px;
    padding: 8px;
  }

  .popular {
    margin-top: 8px;
  }
}
