{{define "about"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Me</title>
    {{template "_general_style"}} {{template "_header_style"}}
    <link rel="stylesheet" href="/static/css/about.css" />
  </head>
  <body>
    {{template "_header"}}
    <div class="container">
      <img
        id="profile"
        src="/static/images/my-profile.jpg"
        alt="Erik Rio Setiawan Profile Picture"
      />
      <h1 id="name">Erik Rio Setiawan</h1>
      <p id="description">
        I’m living the dream. I’ve always been a great problem solver, an
        independent introvert, and a technophile obsessed with the latest
        devices. Today, I’m working from home as a software engineer. I started
        learning to code when I was a teenager, though it was always more of a
        hobby than a career focus. After a college education in Information
        Technoloty, and continuing to pursue that hobby, I realized software
        engineering was the right field for me. Since then, I’ve worked on
        countless freelance projects and have been involved with a handful of
        notable startups. Today, I’m working as a junior developer and am
        getting into backend development on my own time. I’m familiar with a
        variety of programming languages, including Java, Go, Kotlin, Dart, and
        JavaScript, but I’m always adding new skills to my repertoire. I’m also
        eager to meet other software engineers in the area, so feel free to
        connect!
      </p>
      <h2 id="bio">Biography</h2>
      <div class="bio-container">
        <blockquote>
          Erik is a final year computer science student at Muhammadiyah Ponorogo
          with experience working across the full-stack of software development,
          especially in Back-End Engineering and Android Development. He has
          built some Android and RESTful APIs projects.
        </blockquote>
      </div>
      <div class="bio-container">
        <img
          id="bio-img"
          src="/static/images/east-java.png"
          alt="East Java Maps"
        />
      </div>
    </div>
  </body>
</html>
{{end}}
