{{define "index"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to Erik Rio Setiawan Blog</title>
    {{template "_general_style"}} {{template "_header_style"}}
    <link rel="stylesheet" href="/static/css/index.css" />
  </head>
  <body>
    {{template "_header"}}

    <div class="container">
      <div class="post">
        <!-- Item -->
        <div class="item">
          <div id="title">
            <a href="#"><h1>Instalasi Netbeans di Linux</h1></a>
          </div>
          <div id="published-on-author">
            Published on 5 April 2022 by <a href="/about">Erik Rio Setiawan</a>
          </div>
          <div id="short-desc">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Distinctio, veritatis voluptatum molestiae numquam ducimus eligendi
            sunt mollitia porro nisi voluptas. Cum odio ratione, reprehenderit
            totam dolorum libero itaque cumque quo? Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Doloribus repellat vero provident
            dignissimos reiciendis odio tenetur consequuntur soluta, blanditiis,
            et similique nihil velit. Ipsum doloremque atque dolores officiis
            optio. Mollitia.
          </div>
          <div id="continue-to-read"><a href="#">Continue to read...</a></div>
          <hr />
        </div>
        <!-- Item -->
        <!-- Item -->
        <div class="item">
          <div id="title">
            <a href="#"><h1>Instalasi Netbeans di Linux</h1></a>
          </div>
          <div id="published-on-author">
            Published on 5 April 2022 by <a href="#">Erik Rio Setiawan</a>
          </div>
          <div id="short-desc">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Distinctio, veritatis voluptatum molestiae numquam ducimus eligendi
            sunt mollitia porro nisi voluptas. Cum odio ratione, reprehenderit
            totam dolorum libero itaque cumque quo? Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Doloribus repellat vero provident
            dignissimos reiciendis odio tenetur consequuntur soluta, blanditiis,
            et similique nihil velit. Ipsum doloremque atque dolores officiis
            optio. Mollitia.
          </div>
          <div id="continue-to-read"><a href="#">Continue to read...</a></div>
          <hr />
        </div>
        <!-- Item -->
        <!-- Item -->
        <div class="item">
          <div id="title">
            <a href="#"><h1>Instalasi Netbeans di Linux</h1></a>
          </div>
          <div id="published-on-author">
            Published on 5 April 2022 by <a href="#">Erik Rio Setiawan</a>
          </div>
          <div id="short-desc">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Distinctio, veritatis voluptatum molestiae numquam ducimus eligendi
            sunt mollitia porro nisi voluptas. Cum odio ratione, reprehenderit
            totam dolorum libero itaque cumque quo? Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Doloribus repellat vero provident
            dignissimos reiciendis odio tenetur consequuntur soluta, blanditiis,
            et similique nihil velit. Ipsum doloremque atque dolores officiis
            optio. Mollitia.
          </div>
          <div id="continue-to-read"><a href="#">Continue to read...</a></div>
          <hr />
        </div>
        <!-- Item -->
        <!-- Item -->
        <div class="item">
          <div id="title">
            <a href="#"><h1>Instalasi Netbeans di Linux</h1></a>
          </div>
          <div id="published-on-author">
            Published on 5 April 2022 by <a href="#">Erik Rio Setiawan</a>
          </div>
          <div id="short-desc">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Distinctio, veritatis voluptatum molestiae numquam ducimus eligendi
            sunt mollitia porro nisi voluptas. Cum odio ratione, reprehenderit
            totam dolorum libero itaque cumque quo? Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Doloribus repellat vero provident
            dignissimos reiciendis odio tenetur consequuntur soluta, blanditiis,
            et similique nihil velit. Ipsum doloremque atque dolores officiis
            optio. Mollitia.
          </div>
          <div id="continue-to-read"><a href="#">Continue to read...</a></div>
          <hr />
        </div>
        <!-- Item -->
        <!-- Item -->
        <div class="item">
          <div id="title">
            <a href="#"><h1>Instalasi Netbeans di Linux</h1></a>
          </div>
          <div id="published-on-author">
            Published on 5 April 2022 by <a href="#">Erik Rio Setiawan</a>
          </div>
          <div id="short-desc">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Distinctio, veritatis voluptatum molestiae numquam ducimus eligendi
            sunt mollitia porro nisi voluptas. Cum odio ratione, reprehenderit
            totam dolorum libero itaque cumque quo? Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Doloribus repellat vero provident
            dignissimos reiciendis odio tenetur consequuntur soluta, blanditiis,
            et similique nihil velit. Ipsum doloremque atque dolores officiis
            optio. Mollitia.
          </div>
          <div id="continue-to-read"><a href="#">Continue to read...</a></div>
          <hr />
        </div>
        <!-- Item -->
        <div class="next-prev">
          <a id="prev" href="#">&lt; Previous</a>
          <a id="next" href="#">Next &gt;</a>
        </div>
      </div>

      <div class="widget"></div>
    </div>
  </body>
</html>
{{end}}
