{{define "index"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to Erik Rio Setiawan Blog</title>
    {{template "_general_style"}} {{template "_header_style"}}
    <link rel="stylesheet" href="/static/css/index.css" />
  </head>
  <body>
    {{template "_header"}}

    <div class="container">
      <div class="post">
        {{range .Data.Articles}}
        <!-- Item -->
        <div class="item">
          <div id="title">
            <a href="#"><h1>{{.Title}}</h1></a>
          </div>
          <div id="published-on-author">
            Published on {{.PublishedDate}} by <a href="/about">{{.Author}}</a>
          </div>
          <div id="short-desc">{{.Content}}</div>
          <div id="continue-to-read"><a href="#">Continue to read...</a></div>
          <hr />
        </div>
        <!-- Item -->
        {{end}}
        <div class="next-prev">
          {{if eq .Data.PageInfo.Page 1}}
          <span id="prev">&lt; Previous</span>
          {{else}}
          <a
            id="prev"
            href="/?page={{.Data.PageInfo.PrevPage}}&limit={{.Data.PageInfo.Limit}}"
            >&lt; Previous</a
          >
          {{end}} {{if eq .Data.PageInfo.Page .Data.PageInfo.TotalPage}}
          <span id="next">Next &gt;</span>
          {{else}}
          <a
            id="next"
            href="/?page={{.Data.PageInfo.NextPage}}&limit={{.Data.PageInfo.Limit}}"
            >Next &gt;</a
          >
          {{end}}
        </div>
      </div>

      <div class="widget">
        <div class="popular">
          <h2>Popular Articles</h2>
          <ol>
            <li><a href="#">This is popular article 1 (10 views)</a></li>
          </ol>
        </div>
      </div>
    </div>
  </body>
</html>
{{end}}
